[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "dict/node"]
	path = dict/node
	url = https://github.com/guileen/vim-node-dict.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/solarized-colors"]
	path = bundle/solarized-colors
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/mango-colors"]
	path = bundle/mango-colors
	url = https://github.com/goatslacker/mango.vim
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/actionscript"]
	path = bundle/actionscript
	url = https://github.com/vim-scripts/actionscript.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/php-syntax"]
	path = bundle/php-syntax
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/pyflakes/pyflakes.git
[submodule "bundle/rainbow_paranthesis"]
	path = bundle/rainbow_paranthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/xclip"]
	path = bundle/xclip
	url = https://github.com/erickzanardo/vim-xclip.git
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/floobits"]
	path = bundle/floobits
	url = https://github.com/floobits/floobits-neovim.git
[submodule "bundle/dotnet-complete"]
	path = bundle/dotnet-complete
	url = https://github.com/yuratomo/dotnet-complete.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/align
[submodule "bundle/pug"]
	path = bundle/pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/yajs"]
	path = bundle/yajs
	url = https://github.com/othree/yajs.vim
[submodule "bundle/js-context-coloring"]
	path = bundle/js-context-coloring
	url = https://github.com/bigfish/vim-js-context-coloring
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
