[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule "bundle/javascript-syntax"]
	path = bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "dict/node"]
	path = dict/node
	url = https://github.com/guileen/vim-node-dict.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/solarized-colors"]
	path = bundle/solarized-colors
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/mango-colors"]
	path = bundle/mango-colors
	url = https://github.com/goatslacker/mango.vim
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/actionscript"]
	path = bundle/actionscript
	url = https://github.com/vim-scripts/actionscript.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/php-syntax"]
	path = bundle/php-syntax
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/pyflakes/pyflakes.git
[submodule "bundle/rainbow_paranthesis"]
	path = bundle/rainbow_paranthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/xclip"]
	path = bundle/xclip
	url = https://github.com/erickzanardo/vim-xclip.git
